.form {
  display: flex;
  flex-direction: column;
}

.formError {
  animation: shake 0.3s ease-in-out;
  box-shadow: var(--box-shadow--section-error);
  border: 1px solid var(--error-color);
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
  20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.fields {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
          "email email"
          "password password"
          "provider remember";
  gap: 4px;

  margin-bottom: 35px;
}

.email {
  grid-area: email;
}

.password {
  grid-area: password;
}

.remember {
  grid-area: remember;
  justify-content: flex-end;
}

.provider {
  grid-area: provider;
}

.error {
  margin-top: 8px;
  height: 18px;

  color: var(--error-color);
}
